<template>

  <md-dialog
    :md-active="isVisible"
    @click="closeCompaniesList($event)">
    <md-dialog-title>{{ currentCompany.companyName || 'Новая запись'}}</md-dialog-title>
    <md-dialog-content>
      <form>

        <md-field>
          <label for="companyName">ИНН</label>
          <md-input
            name="companyInn"
            id="companyInn"
            :value="currentCompany.companyInn"
            @keyup="getCompanies($event)"
            @focus.native="companiesListIsVisible = true">
          </md-input>
        </md-field>

        <div id="companyList" class="ms-select-custom md-elevation-1" v-show="companiesListIsVisible">
          <span class="ms-select-custom-empty" v-if="!companiesList.length">Введите ИНН для поиска</span>
          <ul v-else>
            <li v-for="item in companiesList" :key="item.data.hid" @click="selectCompany(item)">
              {{ item.value }} {{ item.data.inn }}
            </li>
          </ul>
        </div>

        <md-field>
          <label for="companyName">Наименование компании</label>
          <md-input name="companyName" id="companyName" v-model="currentCompany.companyName"/>
        </md-field>
        <md-field>
          <label for="companyCeo">Руководитель компании</label>
          <md-input name="companyCeo" id="companyCeo" v-model="currentCompany.companyCeo"/>
        </md-field>

      </form>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button @click="closeDialog">Отмена</md-button>
      <md-button class="md-primary md-raised" @click="saveCompany">Сохранить</md-button>
    </md-dialog-actions>
  </md-dialog>

</template>

<script>
import axios from 'axios'

export default {
  name: 'CompanyDialog',
  data () {
    return {
      companiesList: [],
      companiesListIsVisible: false
    }
  },
  props: {
    isVisible: {
      type: Boolean,
      default: false
    },
    currentCompany: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  methods: {

    getCompanies (event) {
      setTimeout(() => {
        axios({
          method: 'POST',
          url: 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/party',
          headers: {
            'Authorization': 'Token 6f927ebc4ba032098331d17c8a7bd047c25c519b',
            'Content-Type': 'application/json'
          },
          data: {
            query: event.target.value
          }
        })
          .then(({ data }) => {
            this.companiesList = data.suggestions
            this.companiesListIsVisible = true
          })
          .catch(error => {
            console.log(error)
          })
      }, 300)
    },

    selectCompany (event) {
      this.companiesListIsVisible = false
      this.currentCompany.companyInn = event.data.inn
      this.currentCompany.companyName = event.data.name.full_with_opf

      if (event.data.type === 'LEGAL') {
        if (event.data.management) {
          this.currentCompany.companyCeo = event.data.management.name
        } else {
          this.currentCompany.companyCeo = 'Данных не обнаружено'
        }
      } else {
        this.currentCompany.companyCeo = event.data.name.full
      }
    },

    closeDialog () {
      this.$emit('close')
      this.resetCompaniesList()
    },

    saveCompany () {
      this.$emit('save', this.currentCompany)
      this.resetCompaniesList()
    },

    closeCompaniesList (event) {
      if (event.target.id === 'companyList' || event.target.id === 'companyInn') {
        return
      }

      this.companiesListIsVisible = false
    },

    resetCompaniesList () {
      this.companiesList = []
    }
  }
}
</script>

<style lang="scss">
  .md-dialog {
    width: 600px;
  }

  .v-select {
    width: 100%;
  }

  .md-dialog-content {
    overflow: visible !important;
  }

  .ms-select-custom {
    background-color: #fff;
    width: calc(100% - 48px);
    position: absolute;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 12;
    margin-top: -20px;
    text-align: center;

    &-empty {
      line-height: 32px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: left;
    }

    li {
      padding: 10px 15px;
      &:hover {
        background-color: #f6f6f6;
        cursor: pointer;
      }
    }
  }
</style>
