<template>
  <div class="page-container">
    <md-app>
      <md-app-content>

        <div class="md-layout md-alignment-top-center">
          <div class="md-layout-item md-size-70">
            <md-table v-model="companies" md-card>

              <md-table-toolbar>
                <h1 class="md-title">Компании</h1>
                <md-button
                  class="md-raised md-primary"
                  @click="addCompany">
                  <md-icon>add</md-icon>
                  Добавить компанию
                </md-button>
              </md-table-toolbar>

              <md-table-row v-for="(item, index) in companies" :key="index" :md-item="item" md-selection>
                <md-table-cell md-label="ИНН" md-sort-by="companyInn" md-numeric>{{ item.companyInn }}</md-table-cell>
                <md-table-cell md-label="Наименование компании" md-sort-by="companyName">{{ item.companyName }}</md-table-cell>
                <md-table-cell md-label="Руководитель компании" md-sort-by="companyCeo">{{ item.companyCeo }}</md-table-cell>
                <md-table-cell class="md-table-cell-button">
                  <md-button
                    class="md-icon-button"
                    @click="updateCompany(index)">
                    <md-icon>edit</md-icon>
                  </md-button>
                </md-table-cell>
                <md-table-cell class="md-table-cell-button">
                  <md-button
                    class="md-icon-button"
                    @click="deleteCompany(index)">
                    <md-icon>delete</md-icon>
                  </md-button>
                </md-table-cell>
              </md-table-row>
              <!--TODO: md-table-pagination не рабочий компонент, надо переделать-->
              <md-table-pagination
                :md-size="perPage"
                :md-total="rows"
                :md-page="currentPage"
                md-label=""
                md-separator="из"
                :md-page-options="[5, 10, 25, 50]"
                @pagination="onPagination">
              </md-table-pagination>
            </md-table>
          </div>
        </div>

        <company-dialog
          :isVisible="companyEditDialogIsVisible"
          :currentCompany="currentCompany"
          @save="saveCurrentCompany"
          @close="companyEditDialogClose">
        </company-dialog>

      </md-app-content>
    </md-app>
  </div>
</template>

<script>
import CompanyDialog from './CompanyDialog.vue'
import storage from '../helpers/storage'

export default {
  name: 'Companies',
  components: {
    CompanyDialog
  },
  data: () => ({
    companyEditDialogIsVisible: false,
    editState: false,
    currentCompany: {
      companyInn: null,
      companyName: '',
      companyCeo: ''
    },
    currentPage: 1,
    perPage: 5,
    companies: storage.get('companies', [])
  }),
  computed: {
    rows () {
      return this.companies.length
    }
  },
  methods: {

    saveCurrentCompany (company) {
      if (!this.editState) {
        this.companies.push(company)
        this.resetCurrentCompany()
      } else {
        this.companies[this.companies.indexOf(company)] = this.currentCompany
        this.editState = false
      }
      storage.set('companies', this.companies)
      this.companyEditDialogClose()
    },

    addCompany () {
      this.companyEditDialogIsVisible = true
    },

    resetCurrentCompany () {
      this.currentCompany = {
        companyInn: null,
        companyName: '',
        companyCeo: ''
      }
    },

    companyEditDialogClose () {
      this.companyEditDialogIsVisible = false
      this.resetCurrentCompany()
    },

    deleteCompany (index) {
      if (confirm('Действительно хотите удалить запись?')) {
        this.$delete(this.companies, index)
        storage.set('companies', this.companies)
      }
    },

    updateCompany (index) {
      this.currentCompany = this.companies[index]
      this.editState = true
      this.companyEditDialogIsVisible = true
    },

    onPagination () {
    }
  }
}
</script>

<style lang="scss">
 .md-table-cell-button {
   width: 70px;
   .md-table-cell-container {
      width: 50px;
      padding-left: 0;
      padding-right: 0;
   }
 }
</style>
