<template>
  <div id="app">
    <Companies/>
  </div>
</template>

<script>
import Companies from './components/Companies.vue'

export default {
  name: 'app',
  components: {
    Companies
  }
}
</script>

<style lang="scss">
</style>
